body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}
.choices{
    margin-bottom: 30px ;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(197, 100%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: hsl(180, 100%, 50%);
}
#playerDisplay, #ComputerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin:30px 0;
}
.scoreBoard{
    font-size: 2rem;
    margin: 10px 0;

}
.greenText, #playerScore{
    color: hsl(120, 100%, 25%);
}
.redText, #ComputerScore{
    color: hsl(0, 100%, 25%);
}
